h1 {
    margin-top: 200px;
    font-size: 70px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: red;
    font-size: 40px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

p {
    margin-top: 300px;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

button {
    font-size: 90px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    width: 100px;
    margin: 30px;
    border: none;
    background-color: #79aec8;
    color: #fffee8;
}

#main {
    margin: auto;
    width: 50%;
    text-align: center;
}
