p {
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

a {
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    text-decoration: none;
    color: red;
}

#gameInfo {
    margin: auto;
    text-align: center;
}

#usersInfo {
    display: flex;
    margin: auto;
}

#plates {
    margin: auto;
    width: 345px;
    padding: 0;
}

#quit {
    text-align: center;
    margin-top: 50px;
}

#userMove {
    color: red;
}

.userInfo {
    width: 45%;
    text-align: center;
    margin: auto;
}

.plate {
    font-size: 70px;
    width: 90px;
    height: 90px;
    margin: 10px;
    background-color: white;
}
.plate:hover {
    background-color: lightpink;
    border: 2px solid red;
}
.plate:active {
    background-color: red;
    border: 2px solid red;
}

.a1 {
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 15px 15px 0 15px;
}

.a2 {
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 15px 15px 0 15px;
}

.a3 {
    border: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0 25px;
}

.a4 {
    border: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 15px 15px 0 15px;
}

.a5 {
    border: 2px solid black;
    box-shadow: 15px 15px 0 15px;
}

.a6 {
    border: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0 25px;
}

.a7 {
    border: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 25px 0;
}
.a8 {
    border: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 25px 0;
}

.a9 {
    border: none;
    border-left: 2px solid black;
    border-top: 2px solid black;
    box-shadow: -25px 0;
}
