{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}">
{% endblock head %}

{% block content %}
    <section id="main">
        {% csrf_token %}
        <p>Select character</p>
        <br>
        <button id="X">X</button>
        <button id="O">O</button>
        <input type="hidden" name="char" value="">
    </section>
{% endblock content %}

{% block script %}
    <script>
        const buttonX = document.querySelector('#X')
        const buttonO = document.querySelector('#O')

        buttonX.addEventListener('click', buttonClick)
        buttonO.addEventListener('click', buttonClick)

        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function buttonClick(event) {
            const char = event.target.id
            const csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
            sendPost(char, csrf)
        }

        function sendPost(char, csrf) {
            const formData = new FormData()
            formData.append('char', char)
            const request = new Request(
                '{% url 'game_field' field %}',
                {
                    method: 'POST',
                    body: formData,
                    headers: {'X-CSRFToken': csrf},
                }
            )
            fetch(request, {mode: 'same-origin'}).then(function(response) {
                window.location = '{% url 'game_field' field %}'
            })
        }
    </script>
{% endblock script %}