{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock head %}
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="icon" type="image/png" href="{% static 'core/img/favicon.png' %}">
</head>
<body>

{% block content %}
{% endblock content %}

{% block script %}
{% endblock script %}
</body>
</html>