{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock head %}

{% block content %}
    <section id="main">
        <h1>Tic Tac Toe</h1>
        {% if user.is_authenticated %}
            <p>Welcome to the tic tac toe {{ user.username }}!</p>
            <a href="{% url 'rating' %}">Rating</a>
            <a href="{% url 'select_character' %}">New game</a>
            <a id="logout" href="{% url 'logout' %}">Logout</a>
            <p>Existing game fields:</p>
            <div id="games">
                {% for field in fields %}
                    <a href="{% url 'game_field' field.game_name %}">{{ field.game_name }}</a>
                    <br>
                {% endfor %}
            </div>
        {% else %}
            <a href="{% provider_login_url 'google' %}">Login With Google</a>
            <br>
            <a href="{% provider_login_url 'gitlab' %}">Login With GitLab</a>
            <br>
            <a href="{% url 'signup' %}">Sign up</a><br>
            <a href="{% url 'login' %}">Log in</a><br>
        {% endif %}
    </section>
{% endblock content %}