{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock head %}

{% block content %}
    <section id="main">
        <a id="home" href="{% url 'home' %}">Home</a>
        <section id="ratings">
            {% for elem in page_obj %}
                <p class="rating">{{ elem.user }}</p>
                <p class="rating">{{ elem.wins_total }}</p>
            {% endfor %}
        </section>
    </section>

    <div id="main">
        <span>
            {% if page_obj.has_previous %}
                <a class="rating" href="?page=1">&laquo; first</a>
                <a class="rating" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <p>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </p>

            {% if page_obj.has_next %}
                <a class="rating" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="rating" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
