{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock head %}

{% block content %}
    <section id="main">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Sign up</button>
        </form>
        <br>
        <a id="homeLink" href="{% url 'home' %}">Home</a>
    </section>
{% endblock content %}