{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}">
{% endblock head %}

{% block content %}
    <section id="main">
        <h1>Your opponent has left the game!</h1>
        <a id="homeLink" href="{% url 'home' %}">Home</a>
    </section>
{% endblock content %}


