h1 {
    font-size: 50px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 100px 0 100px 0;
}

p {
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

a {
    display: inline-block;
    background-color: #79aec8;
    color: #fffee8;
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: 40px;
}

form {
    display: inline-grid;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

input {
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 20px;
}

button {
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 20px;
    border: none;
    height: 50px;
    background-color: #79aec8;
    color: #fffee8;
}

#main {
    margin: auto;
    width: 50%;
    text-align: center;
}

#games {
    border: 0.25px solid gray;
    width: 50%;
    margin: auto;
}

#logout {
    display: inline-block;
    background-color: #79aec8;
    color: red;
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: 40px;
}

#homeLink {
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    text-decoration: none;
    background-color: white;
    color: red;
    margin-top: 100px;
}

#home {
    margin-bottom: 100px;
}

.rating {
    display: inline-block;
    background-color: #79aec8;
    color: #fffee8;
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    width: 30%;
    height: 40px;
}