{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'field/css/style.css' %}">
{% endblock head %}

{% block content %}
    <input type="hidden" id="user" value="{{ user.username }}">

    <section id="gameInfo">
        <p id="gameName">Game created by: {{ game_field.game_name }}</p>
        <p>Games played: {{ gameCount }}</p>
        <p id="userMove">Waiting for opponent</p>
    </section>

    <section id="usersInfo">
        <section class="userInfo">
            <p id="userX">X: {{ userX }}</p>
            <p id="userXwin">User {{ userX }} win: {{ userXwin }}</p>
        </section>
        <section class="userInfo">
            <p id="userO">O: {{ userO }}</p>
            <p id="userOwin">User {{ userO }} win: {{ userOwin }}</p>
        </section>
    </section>

    <div id="plates">
        {% for num in '123456789'|make_list %}
            <button id="{{ num }}" class="plate a{{ num }}" onclick="userMove(this)"></button>
        {% endfor %}
    </div>
    <section id="quit">
        <a id="quitA" href="{% url 'quit_game' %}" onclick="quit()">Quit</a>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'field/js/script.js' %}"></script>
{% endblock script %}